/* fonts */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf')
        format('opentype');
    font-weight: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light.ttf')
        format('opentype');
    font-weight: lighter;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf')
        format('opentype');
    font-weight: bold;
}

html
{
    font-family: sans-serif;
}

body
{
    background-color: #E2E2E2;
    position: relative;
    /*padding-top: 100px;*/
    margin: 0;
}

h1
{
  font-family: 'Open Sans';
  font-weight: bold;
  color: #5E5E5E;
  font-size: 2em;
}

body:before
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

p
{
  font-family: 'Open Sans';
  font-weight: normal;
  color: #5E5E5E;
}

h3
{
  font-family: 'Open Sans';
  font-weight: normal;
  color: #5E5E5E;
  font-size: 15px;
  text-align: center;
}

/* Navigation */

#nav
{
  position: absolute;
  z-index: 1000;
  top: 10vh;
  max-width: 450px;
  left: 50%;
  margin-left: -225px;
}

.nav-list
{
    display: table;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: auto;
    text-align: justify;
    list-style: none;
    margin-top: 0px;
    opacity: 0;

    animation: fade-in;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 1000;
}

.nav-list li
{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    color: #5E5E5E;
}

.corrib-digital
{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    color: #5E5E5E;
    animation: fade-out;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
}

.corrib
{
    margin-right: 50px;
    float: left;
}

.digital
{
    margin-left: 50px;
    float: left;
}

@keyframes fade-out
{
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes fade-in
{
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.nav-work
{
    margin-right: 25px;
}

.nav-blog
{
    margin-left: 25px;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 30px;
    opacity: 0.75;
    animation-name: logo-rotate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes logo-rotate
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    } 100%{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

/* Intro Section */

.section-intro
{
    text-align: center;
    z-index: 1000;
    height: 100vh;
}

.text-wrapper
{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    height: 58px;
}

#typed
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5E5E5E;
    font-weight: normal;
    line-height: 1.4em;
    font-size: 21px;
}

.typed-cursor
{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 21px;
    color: #5E5E5E;
}

@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (max-width: 465px)
{
    #nav
    {
        zoom: 90%;
        left: 50%;
        margin-left: -185px;
    }

    .nav-list li
    {
        width: 80px;
    }

    #logo
    {
        zoom: 90%;
        margin-top: -45px;
    }
}

.scroll-down
{
    width: 20px;
    position: absolute;
    top: 100vh;
    left: 50%;
    margin-left: -10px;
    margin-top: -50px;
}

.scroll-down p
{
    text-align: center;
}

.down-arrow
{
    width: 20px;
}

@keyframes move-in
{
    0% {
        height: 0;
    } 100% {
        height: 600px;
    }
}

/* About Section */
.section-about
{
  background-color: #fff;
  height: 1000px;
}

.section-header
{
  width: 160px;
  padding-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container
{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.profile-image
{
  width: 200px;
  border-radius: 50%;
  margin: auto;
}

.about-paragraph
{
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-paragraph p
{
  text-align: center;
}

.section-about a
{
  text-decoration: none;
}

.link-button
{
  border: solid #888888 1px;
  line-height: 1;
  padding: 10px 20px;
  width: 134px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  font-family: 'Open Sans';
  font-weight: normal;
  color: #888888;
  font-size: 14px;
  transition: 0.5s;
}

.link-button-wrap :hover
{
  background-color: #fafafa;
  transition: 0.5s;
}

.skills-container
{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.skills-wrap
{
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
  float: left;
}

.skill
{
  position: relative;
  margin-top: 20px;
}

.skill-text
{
  color: #95989A;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
}

.skill-bar
{
  height: 4px;
  max-width: 400px;
  margin-top: 4px;
  background-color: #E0E0E0;
}

.ux-skill-bar
{
  height: 4px;
  background-color: #858585;
  animation-name: ux-skills-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.graphics-skill-bar
{
  height: 4px;
  background-color: #858585;
  animation-name: graphics-skills-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.programming-skill-bar
{
  height: 4px;
  background-color: #858585;
  animation-name: programming-skills-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes ux-skills-animation
{
  0% {width: 60%;}
  100% {width: 100%;}
}

@keyframes graphics-skills-animation
{
  0% {width: 60%;}
  100% {width: 80%;}
}

@keyframes programming-skills-animation
{
  0% {width: 60%;}
  100% {width: 85%;}
}

/* Work Section */

.section-work
{
  height: 1000px;
}

.images-wrap
{
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}

.work-image-small
{
  max-width: 500px;
  position: relative;
  top: -7px;
}

.work-image-large
{
  max-width: 530px;
  position: relative;
  z-index: 1001;
}

#pshow-image
{
  margin-left: -200px;
}

#galwaytherapist-image
{
  margin-left: -220px;
  z-index: 1;
}
