/* fonts */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf')
        format('opentype');
    font-weight: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light.ttf')
        format('opentype');
    font-weight: lighter;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf')
        format('opentype');
    font-weight: bold;
}

html
{
    font-family: sans-serif;
}

body
{
    background-color: #E2E2E2;
    position: relative;
    /*padding-top: 100px;*/
    margin: 0;
}

h1
{
  font-family: 'Open Sans';
  font-weight: bold;
  color: #5E5E5E;
  font-size: 2em;
}

body:before
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

p
{
  font-family: 'Open Sans';
  font-weight: normal;
  color: #5E5E5E;
}

h3
{
  font-family: 'Open Sans';
  font-weight: normal;
  color: #5E5E5E;
  font-size: 15px;
  text-align: center;
}

a :visited
{
  color:
}

/* Navigation */

#nav
{
  position: absolute;
  z-index: 1000;
  top: 10vh;
  max-width: 450px;
  left: 50%;
  margin-left: -225px;
}

.nav-list
{
    display: table;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: auto;
    text-align: justify;
    list-style: none;
    margin-top: 0px;
    opacity: 0;

    animation: fade-in;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 1000;
}

.nav-list li
{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    color: #5E5E5E;
}

.corrib-digital
{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    color: #5E5E5E;
    animation: fade-out;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
}

.corrib
{
    margin-right: 50px;
    float: left;
}

.digital
{
    margin-left: 50px;
    float: left;
}

@keyframes fade-out
{
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes fade-in
{
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.nav-work
{
    margin-right: 25px;
}

.nav-blog
{
    margin-left: 25px;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 30px;
    opacity: 0.75;
    animation-name: logo-rotate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes logo-rotate
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    } 100%{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

/* Intro Section */

.section-intro
{
    text-align: center;
    z-index: 1000;
    height: 100vh;
}

.text-wrapper
{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    height: 58px;
}

#typed
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5E5E5E;
    font-weight: normal;
    line-height: 1.4em;
    font-size: 21px;
}

.typed-cursor
{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 21px;
    color: #5E5E5E;
}

@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (max-width: 465px)
{
    #nav
    {
        zoom: 90%;
        left: 50%;
        margin-left: -185px;
    }

    .nav-list li
    {
        width: 80px;
    }

    #logo
    {
        zoom: 90%;
        margin-top: -45px;
    }
}

.scroll-down
{
    width: 130px;
    position: absolute;
    top: 100vh;
    left: 50%;
    margin-left: -65px;
    margin-top: -95px;
}

.scroll-down p
{
    text-align: center;
    color: #888888;
    font-size: 14px;
    padding-bottom: 6px;
    opacity: 0;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    transition: all 0.3s ease 0s;
}

.down-arrow
{
    width: 20px;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.scroll-down:hover p
{
  opacity: 1;
}

@keyframes move-in
{
    0% {
        height: 0;
    } 100% {
        height: 600px;
    }
}

@keyframes bounce
{
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-30%);
  }

  10% {
    transform: translateY(0);
  }

  12% {
    transform: translateY(-10%);
  }

  15% {
    transform: translateY(0);
  }

  15%, 100 {
    transform: translateY(0);
  }
}

/* About Section */
.section-about
{
  background-color: #fff;
  height: 1000px;
}

.section-header
{
  max-width: 160px;
  padding-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container
{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.profile-image
{
  width: 200px;
  border-radius: 50%;
  margin: auto;
}

.about-paragraph
{
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-paragraph p
{
  text-align: center;
}

#about-button
{
  width: 176px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.section-about a
{
  text-decoration: none;
}

.link-button
{
  border: solid #888888 1px;
  line-height: 1;
  padding: 10px 20px;

  font-family: 'Open Sans';
  font-weight: normal;
  color: #888888;
  font-size: 14px;
  transition: 0.5s;
}

.link-button:hover
{
  background-color: #fafafa;
  transition: 0.5s;
}

.about-me-button
{
  width: 134px;
}

.skills-container
{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.skills-wrap
{
  width: 400px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  float: left;
}

.skill
{
  position: relative;
  margin-top: 20px;
}

.skill-text
{
  color: #95989A;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
}

.skill-bar-wrap
{
  height: 4px;
  max-width: 400px;
  margin-top: 4px;
  background-color: #E0E0E0;
}

.skill-bar
{
  height: 4px;
  background-color: #858585;
  width: 0%;
}

.ux-skill-bar
{
  width: 100%;
}

.graphics-skill-bar
{
  width: 75%;
}

.programming-skill-bar
{
  width: 85%;
}

@media only screen and (max-width: 914px)
{
  .skills-container
  {
    max-width: 400px;
  }

  .skills-wrap
  {
    margin-top: 0px;
  }

  .skill
  {
    margin-top: 40px;
  }

  .section-header
  {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 450px)
{
  .skills-wrap
  {
    width: 250px;
  }

  .skills-container
  {
    max-width: 300px;
    overflow: hidden;
  }
}

@keyframes skill-bar-animation
{
  0% {width: 0%;}
  100% {width: 100%;}
}

/* Work Section */

.section-work
{
  height: 1000px;
}

.section-work .section-header
{
  width: 90px;
}

.images-wrap
{
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  overflow: hidden;
  height: 250px;
}

.work-image-small
{
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: -7px;
  opacity: 0;
}

.work-image-large
{
  width: 530px;
  position: absolute;
  z-index: 1001;
  left: 50%;
  margin-left: -265px;
  margin-top: -14px;
  opacity: 0;
}

.work-image-left
{
  left: 50%;
}

.work-image-right
{
  left: 50%;
}

.worked-with-wrap
{
  max-width: 775px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.worked-with-image
{
  opacity: 0.4;
  width: 250px;
  margin-left: 30px;
  margin-right: 30px;
}

.kilcawley-image
{
  width: 200px;
}

.style-by-image
{
  width: 130px;
}

.percent-image
{
  width: 80px;
}

.explorers-image
{
  width: 110px;
  position: relative;
  top: 5px;
}

#work-button
{
  width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.section-work a
{
  text-decoration: none;
}

.section-button
{
  margin-top: 70px;
}

.section-work .link-button:hover
{
  background-color: #EAEAEA;
}

@keyframes work-image-left-animation {
  0% {
    left: 50%;
    opacity: 1;
  }

  100% {
    left: 40%;
    opacity: 1;
  }
}

@keyframes work-image-right-animation {
  0% {
    left: 50%;
    opacity: 1;
  }

  100% {
    left: 60%;
    opacity: 1;
  }
}

@keyframes work-image-large-bounce {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    transform: translateY(-5%);
  }

  35% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-1%);
  }

  55% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1155px)
{

  .section-work .section-header
  {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 790px)
{
  .section-work .section-header
  {
    padding-top: 180px;
  }

  .worked-with-wrap
  {
    zoom: 75%;
  }

  .images-wrap
  {
    max-width: 640px;
    zoom: 80%;
  }
}

@media only screen and (max-width: 596px)
{
  .section-work .section-header
  {
    padding-top: 210px;
  }

  .kilcawley-image
  {
    display: none;
  }

  .explorers-image
  {
    display: none;
  }

  .worked-with-wrap
  {
    max-width: 335px;
  }

  .images-wrap
  {
    zoom: 60%;
    max-width: 580px;
  }

  .worked-with-wrap
  {
    zoom: 90%;
  }

  #work-button
  {
    margin-top: 50px;
  }
}

/* Build Section */

.section-build
{
  background-color: #fff;
  height: 1000px;
}

.build-content-container
{
  width: 50%;
  float: left;
}

.section-build .section-header
{
  max-width: 390px;
  margin-right: 70px;
  padding-top: 350px;
  padding-left: 20px;
}

.build-paragraph
{
  max-width: 500px;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 80px;
  padding-left: 20px;
}

.build-content-container .section-header h1
{
  text-align: right;
}

.build-paragraph h3
{
  text-align: right;
  font-size: 18px;
}

.section-build a
{
  text-decoration: none;
}

#contact-button
{
  width: 245px;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 70px;
}

#contact-button .link-button
{
  font-size: 18px;
  font-weight: lighter;
  padding: 20px 40px;
}

.build-image-container
{
  width: 50%;
  float: left;
  overflow: hidden;
}

#build-img
{
  width: auto;
  height: 1000px;
}

@media only screen and (max-width: 800px)
{
  .build-content-container
  {
    width: 100%;
    height: 650px;
  }

  .build-image-container
  {
    width: 100%;
    height: 450px;
  }

  #build-img
  {
    margin-top: -500px;
  }

  .section-build .section-header
  {
    padding-top: 130px;
    margin-right: auto;
    padding-right: 20px;
  }

  .build-content-container .section-header h1
  {
    text-align: center;
  }

  .build-paragraph
  {
    margin-right: auto;
    padding-right: 20px;
  }

  .build-paragraph h3
  {
    text-align: center;
  }

  #contact-button
  {
    margin-right: auto;
  }
}

/* Stats Section */
.section-stats
{
  height: 250px;
  background-color: #F2F2F2;
}

.stats-container
{
  overflow: hidden;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.stats-container .stat h3
{
  text-align: left;
  -webkit-margin-before: 0px;
}

.stats-container .stat .number h1
{
  text-align: left;
  -webkit-margin-after: 0px;
  font-size: 2.5em;
}

.stat
{
  float: left;
  width: 200px;
  margin-right: 60px;
  margin-left: 60px;
}

/* Footer */
footer
{
  height: 60px;
}

footer p
{
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}
